/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} */
.ql-editor {
    min-height: 500px;
}

article img {
    max-width: 100%;
    height: auto;
}

.react-datepicker__time-container,
.react-datepicker__time-box{
    width: 100px;
}
.react-datepicker__time-list,
.react-datepicker__time-list-item{
    padding-left: 5px;
    padding-right: 5px;
}

.no-margin{
    margin: 0 !important;
}

.d-inline{
    display: inline;
}

.d-block{
    diplay: block;
}

.d-flex{
    display: flex;
}

.d-none{
    display: none;
}
.pointer{
    cursor: pointer;
}


.flexContainer{
    display: flex;
    flex-wrap: wrap;
}

.flexColumn:nth-child(7n+1):not(.inactive){
    color: red;
}

.month-switcher{
    display: flex;
    min-width: 100%;
    color: red;
    justify-content: space-around;
    font-weight: bold;
    padding: 0.5rem;
}

.month-switcher-button{
    cursor: pointer;
}

.today>.inner-grid>.date{
    color: white;
}

.today>.inner-grid{
    background-color: #56CAF4!important;
    border-radius: 50%;
}

.flexColumn{
    min-width: 14.2%;
    height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}


.day{
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;
    max-width: 25px;
    max-height: 25px;
    z-index: 10;
    font-weight: normal;
}

.date {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    font-size: 0.7rem;
}

.inactive {
    color: #DDD;
}

.inner-grid{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-width: 30px;
    max-height: 30px;
}

.matchEvent{
    background-color: rgba(255,0,0,0.1);
    border-radius: 50%;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    color: black;
    z-index: -1;
}

.today>.inner-grid>.matchEvent{
    background-color: #56CAF4!important;
    color: white!important;
}

.inactive > .inner-grid > .matchEvent {
    background-color: transparent;
}

.half-padded{
    padding: 0.25rem 0.5rem!important;
}

.calendar-match-container{
    margin: 1.2rem 0.6rem 0.6rem 0.6rem;
    display: block;
}

.match-info{
    color: #333;
    line-height: 1rem;
}

.absolute{
    position: absolute;
}

.top{
    top: 5px;
}

.left{
    left: 5px;
}

.right{
    right: 5px;
}

.page-content:before {
    content: "";
    position: fixed;
    left: -20px;
    top: -20px;
    right: -20px;
    bottom: -20px;
    display: block;
    background-image: url("../images/handball_wallpaper_3.png");
    background-size: contain;
    filter: blur(15px) sepia(0.4);
    min-height: 110vh;
    min-width: 110vw;
    z-index: -1;
}
.page-content{
    position: relative;
    left: 0;
    right: 0;
}

.ui .segment{
    background: rgba(255, 255, 255, 0.8)!important;
}

.ui .segment h1 {
    margin-bottom: 0.5rem;
}

.ui .segment h5 {
    margin-top: 0.5rem;
}

.ui .segment .header a {
    color: #555;
    border-left: 10px solid rgb(0, 181, 173);
    padding-left: 1rem;
}

.standard-link a {
    color: #555!important;
}

.menu a,
.right .menu .dropdown .link .item *{
    letter-spacing: -0.5px;
    font-size: 1.2rem!important;
}

.gallery-item-container{
    text-align: center;
    display: inline-block!important;
    margin: 0.1rem!important;
}

.segment .gallery-item-container {
    background: transparent!important;
    border: none!important;
}

.gallery-cover-image {
    object-fit: cover;
    width: 38vw;
    height: 38vw;
}

@media screen and (min-width: 768px){
    .gallery-cover-image {
        object-fit: cover;
        width: 19vw;
        height: 19vw;
    }
}

@media screen and (min-width: 1200px){
    .gallery-cover-image {
        object-fit: cover;
        width: 12vw;
        height: 12vw;
    }
}

.text-like-link {
    color: black;
    font-weight: bold;
}

.tablet-navbar{
    display: flex!important;
    justify-content: space-between;
    flex-direction: row;
    text-align: left!important;
}

.tablet-navbar a {
    font-size: 1.2rem;
}

.tablet-navbar a i {
    float: none!important;
    margin-right: 10px!important;
}

.main-content {
    min-height: calc(100vh - 70px);
}
.main-content *{
    @import url('https://fonts.googleapis.com/css?family=Dosis');
    font-family: 'Dosis', sans-serif;
}

@media screen and (min-width: 999px){
    .main-content{
        padding-top: 70px;
        min-height: 100vh;
    }
}